body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

article {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; 
    margin: 10px; /* Espacio entre articles */
    text-align: center; /* Centrar contenido */
    max-width: 200px; /* Establecer un ancho máximo */
}

#input-article {
    order: -1; /* Mover este article al principio */
    text-align: center; /* Centrar contenido */
}

input[type="number"], input[type="button"] {
    margin-top: 10px;
    width: 80%; /* Ancho de los inputs */
    border-radius: 5px;
    border: 1px solid #ddd;
}

img {
    max-width: 100%; /* Ajustar imagen al contenedor */
    height: auto; /* Mantener la proporción */
    max-height: 150px; /* Establecer un alto máximo */
}

